* {
  box-sizing: border-box;
}

body,
html,
p,
label,
ul,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

h2 {
  margin-top: 20px;
}

ul {
  list-style-type: none;
}

label {
  display: block;
}

span {
  margin-left: 4px;
}

input {
  border: 1px solid black;
  outline: none;
  padding: 4px 5px;
}

span + label {
  margin-top: 10px;
}

a {
  text-decoration: none;
}
